<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quickhandslogistics">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name=".modified.views.common.FullScreenImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.common.ChooseLumpersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.common.BuildingOperationsViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.common.DisplayLumpersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.lumpers.LumperDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.schedule.ScheduleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.scheduleTime.EditScheduleTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.workSheet.AllWorkScheduleCancelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.workSheet.WorkSheetItemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.workSheet.AddLumperTimeWorkSheetItemActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modified.views.BaseActivity" />
        <activity
            android:name=".modified.views.common.AddSignatureActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".modified.views.lumperSheet.LumperWorkDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LumperListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".modified.views.LeadProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickhandslogistics.modified.views.schedule.ScheduledWorkItemDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickhandslogistics.modified.views.schedule.AddWorkItemLumpersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quickhandslogistics.modified.views.buildingOperations.BuildingOperationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modified.views.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modified.views.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".modified.views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modified.views.DashBoardActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.quickhandslogistics.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>